*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: 'Lato', sans-serif;
}

.landing-page
{
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("https://images.unsplash.com/photo-1523374228107-6e44bd2b524e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") center no-repeat;
	background-size: cover;
	position: relative;
}

nav{
	height: 75px;
	width: 100%;
	background: transparent;
	position: fixed;
	top: 0;
	z-index: 999;
}

nav.navbar.scrolled{
	background: #222;
	box-shadow: 0px 1.5px 0px 0 rgba(0, 0, 0, 0.13), 0px 3px 0px 0px rgba(0, 0, 0, 0.1), 0px 4.5px 0px 0px rgba(0,0,0, 0.07);
	transition: .5s;
}

label.logo{
	font-size: 30px;
	color: #EEF8F9;
	line-height: 75px;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 300;
	padding: 0 100px;
}

label.logo span{
	font-weight: bold;
	color: crimson;
	font-size: 35px;
}

.menu-toggle {
	display: none;
	position: fixed;
	cursor: pointer;
	top: 1.22rem;
	right: 2rem;
	font-size: 30px;
	color: crimson;
	z-index: 1000;
}

nav ul{
	float: right;
}

nav ul li{
	margin: 0 20px;
	display: inline-block;
	line-height: 75px;
	transition: .5s;
	animation: slideIn .5s forwards;
}

nav ul li.active a{
	color: crimson;
}

nav ul li a{
	color: #FDECEC;
	font-size: 15px;
	text-transform: uppercase;
	transition: .4s;
}

nav ul li a:hover{
	color: crimson;
	transition: .5s;
}

.page-content 
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 800px;
	text-align: center;
	box-sizing: border-box;
	font-weight: bold;
	animation-timing-function: slideIn;
	animation: mymove .9s forwards;
}

@keyframes mymove{
	from {left: -100rem;}
}

.page-content label.header-logo{
	font-size: 47px;
	font-weight: bold;
	text-transform: uppercase;
	color: #EEF8F9;
	text-shadow:
	3px 3px 0 rgba(0, 0, 0, .4),
	-1px -1px 0 rgba(0, 0, 0, .2),  
	1px -1px 0 rgba(0, 0, 0, .2),
	-1px 1px 0 rgba(0, 0, 0, .4),
	1px 1px 0 rgba(0, 0, 0, .2);
}

.page-content label.header-logo span{
	color: crimson;
	font-size: 50px;
}

.page-content h3{
	color: rgba(255,255,255,0.9);
	font-size: 35px;
	text-shadow: 3px 2px 4px rgba(220, 221, 225, .3);
}

.page-content label.slide-down a{
	color: rgba(255,255,255,0.9);
	font-size: 55px !important;
	transition: .7s;
}

.page-content label.slide-down a:hover{
	font-size: 60px !important;
	transition: .7s;
}

.page-content label.slide-down i{
	margin-top: 3rem;
}

.about{
	background: #fff;
	padding: 75px 0px 75px;
}

.about h1{
	margin-bottom: 15px;
	font-size: 35px;
	text-align: center;
	font-weight: bold;
	color: rgba(99, 110, 114, .8);
}

.about h1 label.header-logo{
	font-size: 37px;
	font-weight: bold;
	text-transform: uppercase;
	color: #EEF8F9;
	-webkit-text-stroke: .3px #000 ;
}

.about h1 label.header-logo span{
	color: crimson;
	font-size: 40px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.about-child{ 
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	min-height: 200px;
	background-color: rgba(0, 0, 0, .3);
	cursor: pointer;
	box-sizing: border-box;
	border-top: 8px solid rgba(52, 73, 94,1.0);
}

.about-content{
	display: block;
	float: left;
	width: auto;
	height: 200px;
	padding: 20px 0 10px;
	position: relative;
	flex-grow: 1;
	transition: .5s;
}

.about-content:nth-child(even){
	background: rgba(255, 255, 255, .6);
}

.about-content .about-content-details{
	width: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	max-width: 400px;
}

.about-content .about-content-details p{
	text-align: center;
	padding: 40px 30px 0;
	color: transparent;
	font-size: 17px;
	font-weight: bold;
	text-transform: none;
	transition: all .4s;
	position: absolute;
	z-index: 9;
}

.about-content img{
	display: block;
	position: absolute;
	width: 100px;
	left: 50%;
	transform: translate(-50%, 50%);
	margin: 0 auto;
	z-index: 1;
}

.about-content span{
	display: none;
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 5px;
	background: #34495e;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 8px 5px;
}

.about-content:hover{
	flex-grow: 1.25;
}

.about-content:hover p{
	color: rgba(255, 255, 255, 1);
	webkit-text-stroke: 2px rgba(99, 110, 114, .8);
	text-shadow: 2px 2px 8px #111;
}

.about-content:hover img{
	opacity: .3;
}

@media (max-width: 942px){
	label.logo{
		font-size: 25px;
		padding: 0 50px;
	}
	label.logo span{
		font-size: 30px;
	}
	nav ul li{
		margin: 0 16px;
	}
	nav ul li a{
		font-size: 14px;
	}
	.about{
		padding: 70px 0 70px;
	}
	.about-child{
		border-top: 20px solid rgba(52, 73, 94,1.0);	
	}
	.about-content{
		width: calc(100% - 40px);
	}
	.about-content img{
		top: 0px;
	}
	.about-content span{
		display: block;
	}
	.about-content:hover img{
		top:20px;
		transition: all .4s;
	}
	.about-content:hover span{
		display: none;
	}
}

@media (max-width: 750px){
	.menu-toggle {
		display: block;
	}
	nav ul{
		position: fixed;
		top: 0;
		right: 0;
		padding-top: 75px;
		width: 40%;
		background: #f5f6fa;
		height: 100%;
		text-align: center;
		display: none;
	}
	nav ul li a{
		color: crimson;
		font-weight: bold;
	}
	nav ul li.active a{
		color: #44bd32;
	}
	nav ul li a:hover{
		color: #44bd32;
	}
	nav.menu-open{
		transition: 1s;
	}
	nav.menu-open ul, nav.menu-open ul li{
		display: block;
	}
	.page-content label.header-logo{
		font-size: 40px;
	}
	.page-content label.header-logo span{
		font-size: 43px;
	}
	.page-content h3 {
		font-size: 27px;
	}
}

@media (max-width: 424px){
	label.logo{
		font-size: 25px;
		padding: 0 27px;
	}

	.menu-toggle {
		right: 1.4rem;
	}

	.page-content label.header-logo{
		font-size: 35px;
	}

	.page-content label.header-logo span{
		font-size: 38px;
	}

	.page-content h3 {
		font-size: 21px;
	}
}

