*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: 'Lato', sans-serif;
}

.landing-page
{
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("https://images.unsplash.com/photo-1523374228107-6e44bd2b524e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") center no-repeat;
	background-size: cover;
	position: relative;
}

nav{
	height: 75px;
	width: 100%;
	background: transparent;
	position: fixed;
	top: 0;
	z-index: 999;
}

nav.navbar.scrolled{
	background: #222;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
	transition: .5s;
}

label.logo{
	font-size: 30px;
	color: #EEF8F9;
	line-height: 75px;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 300;
	padding: 0 100px;
}

label.logo span{
	font-weight: bold;
	color: crimson;
	font-size: 35px;
}

.menu-toggle {
	display: none;
	position: fixed;
	cursor: pointer;
	top: 1.22rem;
	right: 2rem;
	font-size: 30px;
	color: crimson;
	z-index: 1000;
}

nav ul{
	float: right;
}

nav ul li{
	margin: 0 20px;
	display: inline-block;
	line-height: 75px;
	transition: .5s;
	animation: slideIn .5s forwards;
}

nav ul li.active a{
	color: crimson;
}

nav ul li a{
	color: #FDECEC;
	font-size: 15px;
	text-transform: uppercase;
}

nav ul li a:hover{
	color: crimson;
	transition: .2s;
}

.page-content 
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 800px;
	text-align: center;
	box-sizing: border-box;
	font-weight: bold;
	animation-timing-function: slideIn;
	animation: mymove .9s forwards;
}

@keyframes mymove{
	from {left: -100rem;}
}

.page-content label.header-logo{
	font-size: 47px;
	font-weight: bold;
	text-transform: uppercase;
	color: #EEF8F9;
	text-shadow:
	3px 3px 0 rgba(0, 0, 0, .4),
	-1px -1px 0 rgba(0, 0, 0, .2),  
	1px -1px 0 rgba(0, 0, 0, .2),
	-1px 1px 0 rgba(0, 0, 0, .4),
	1px 1px 0 rgba(0, 0, 0, .2);
}

.page-content label.header-logo span{
	color: crimson;
	font-size: 50px;
}

.page-content h3{
	color: rgba(255,255,255,0.9);
	font-size: 35px;
	text-shadow: 3px 2px 4px rgba(220, 221, 225, .3);
}

.page-content label.slide-down a{
	color: rgba(255,255,255,0.9);
	font-size: 55px !important;
	transition: .7s;
}

.page-content label.slide-down a:hover{
	font-size: 60px !important;
	transition: .7s;
}

.page-content label.slide-down i{
	margin-top: 3rem;
}

.about{
	background: #EDDFDF;
	padding: 75px 0 75px;
}

@media (max-width: 942px){
	label.logo{
		font-size: 25px;
		padding: 0 50px;
	}
	label.logo span{
		font-size: 30px;
	}
	nav ul li{
		margin: 0 16px;
	}
	nav ul li a{
		font-size: 14px;
	}
}

@media (max-width: 750px){
	.menu-toggle {
		display: block;
	}
	nav ul{
		position: fixed;
		top: 0;
		right: 0;
		padding-top: 75px;
		width: 40%;
		background: #f5f6fa;
		height: 100%;
		text-align: center;
		display: none;
	}
	nav ul li a{
		color: crimson;
		font-weight: bold;
	}
	nav ul li.active a{
		color: #44bd32;
	}
	nav ul li a:hover{
		color: #44bd32;
	}
	nav.menu-open{
		transition: 1s;
	}
	nav.menu-open ul, nav.menu-open ul li{
		display: block;
	}
	.page-content label.header-logo{
		font-size: 40px;
	}
	.page-content label.header-logo span{
		font-size: 43px;
	}
	.page-content h3 {
		font-size: 27px;
	}
}

@media (max-width: 424px){
	label.logo{
		font-size: 25px;
		padding: 0 27px;
	}
	.menu-toggle {
		right: 1.4rem;
	}
	.page-content label.header-logo{
		font-size: 35px;
	}
	.page-content label.header-logo span{
		font-size: 38px;
	}
	.page-content h3 {
		font-size: 21px;
	}
}

